*{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: roboto; 
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 70px;

}
header {
    background-color: #779882;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main {}
footer {
    background-color: #425348;
}
header .fa-solid  {
    font-size: 2rem;
    color: black;
}
.fa-bars {
    cursor: pointer;
}
.language-buttons {
    text-align: right;
    padding: 10px;
    background-color: white;
}
img { 
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.h1 {
    background-color: #779882;
}
@media only screen and (min-width: 800px) {


}