*{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: roboto; 
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;

}
header {
    background-color: #779882;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/**Main**/
main {}
.h1 {
    text-align: center;
    font-size: 1,5em;
    margin-bottom: 20px;
    color: white;
}
.hero {
 background-color: #F3F4EF;
padding: 40px 28px;
text-align: left;
}
.hero h1 {
    font-size: 2em;
    margin-bottom: 20px;
    
}
.hero p {
    font-size: 1,2rem;
    margin-bottom: 30px;
}
.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero div {
    background-color: #425348;

    border-radius: 4rem;
}
.btn1 { 
    background-color: white;
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.btn2 { 
    background-color: white;
    padding: 10px;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.btn3 { 
    background-color: white;
    padding: 10px;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
    display: inline-block;
}
.btn4 { 
    background-color: #779882;
    padding: 10px;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.hero h2 {
    color: white;
}
.h2  {
    text-align: center;
    font-size: 1,5em;
    margin-bottom: 20px;
    color: black;
}
.p  {
    text-align: left;
    margin-top: 20px;
    font-size: 1,2rem;
}
.btn5 { 
    background-color: #779882;
    padding: 10px;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px;
}
footer {
    background-color: #425348;
    
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer section:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
}
footer section:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
}
footer section:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
}

header .fa-solid  {
    font-size: 2rem;
    color: black;
}
.fa-bars {
    cursor: pointer;
}
.language-buttons {
    text-align: right;
    padding: 10px;
    background-color: white;
}
img { 
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.h1 {
    background-color: #779882;
}
@media only screen and (min-width: 800px) {

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
  
}
}